[submodule "HA-stock"]
	path = HA-stock
	url = https://github.com/Glitchtit/HA-stock.git
[submodule "HA-scraper"]
	path = HA-scraper
	url = https://github.com/Glitchtit/HA-scraper.git
[submodule "HA-recipes"]
	path = HA-recipes
	url = https://github.com/Glitchtit/HA-recipes.git
[submodule "HA-storage"]
	path = HA-storage
	url = https://github.com/Glitchtit/HA-storage.git
[submodule "HA-chores"]
	path = HA-chores
	url = https://github.com/Glitchtit/HA-chores.git
[submodule "HA-lists"]
	path = HA-lists
	url = https://github.com/Glitchtit/HA-lists.git
