[submodule "HA-grocy-stock"]
	path = HA-grocy-stock
	url = https://github.com/Glitchtit/HA-grocy-stock.git
[submodule "grocy_scraper"]
	path = grocy_scraper
	url = https://github.com/Glitchtit/grocy_scraper.git
[submodule "HA-grocy-recipes"]
	path = HA-grocy-recipes
	url = https://github.com/Glitchtit/HA-grocy-recipes.git
[submodule "HA-storage"]
	path = HA-storage
	url = https://github.com/Glitchtit/HA-storage.git
[submodule "HA-chores"]
	path = HA-chores
	url = https://github.com/Glitchtit/HA-chores.git
